
form{
    font-family: cursive !important;
}
body{
    font-family: cursive !important;
}
h1 {
    font-family: cursive !important;    
}

body {
    font-family: cursive !important;  
    color: white;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/black-numbers-background_b4eu7wk3_thumbnail-full01.png") no-repeat center center fixed;
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    width: 100%;
  }