.panel
{
    height: 150px;
    background-image: url("https://i.pinimg.com/originals/61/a8/7f/61a87f11704b95124d90f58fa3f23227.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

p{
    color:rgb(46, 46, 46);
    font-weight: bold;
    
}

body{
    font-family: cursive !important;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white ;
}

.hero-text a {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text a:hover {
background-color: #555;
color: white;
}

.login{
    color:white;
}
.nav > li > a{
 color:white !important; 
}