<head>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
  <title>¡Piedra, Papel, Tijeras, Lagarto, Spock!</title>
</head>
<body>
  <div Id="contenedor">
      <div id="inicial">
        <h1>¡Piedra, Papel, Tijeras, Lagarto, Spock!</h1>
        <h2 (click)="mostrar()">Clic aquí para jugar</h2>
        <img src="https://intervia.com/img/piedra-papel-tijera-lagarto-spock.png" height="500" width="800"/>
        
        <p>Las tijeras cortan el papel, el papel envuelve piedra, la piedra aplasta al lagarto, el lagarto envenena a Spock, Spock aplasta las tijeras, las tijeras decapitan lagarto, el lagarto se come el papel, el papel desaprueba a Spock, Spock desintegra piedra, y, como siempre… la piedra aplasta las tijeras. </p>

      </div>

      <div id="juego">
        <h1>¡Elije jugada...!</h1>	
          <div>
            <input type="image" (click)="jugar('Piedra')" height="250" width="250" style="background:transparent;" src="https://images.vexels.com/media/users/3/145826/isolated/preview/37a6335f8116ec5d233efd8019e2b2c4-roca-redonda-by-vexels.png"/> 
          </div>
          <div>
            <input type="image" (click)="jugar('Papel')" height="250" width="250" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f2e604f8-0837-42bf-bdc7-24137870a1c1/d49ps2i-73d041fd-8939-49bc-9d10-f442aadea7b9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyZTYwNGY4LTA4MzctNDJiZi1iZGM3LTI0MTM3ODcwYTFjMVwvZDQ5cHMyaS03M2QwNDFmZC04OTM5LTQ5YmMtOWQxMC1mNDQyYWFkZWE3YjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LIqV1N4P9TKQlHXTmgeLEDJxrTwcURCOQAI3i3R_utk"/> 
          </div>
          <div>
            <input type="image" (click)="jugar('Tijeras')" height="250" width="250" src="https://www.stickpng.com/assets/images/58a1ea7fc8dd3432c6fa81ca.png"/> 
          </div>
          <div>
            <input type="image" (click)="jugar('Lagarto')" height="250" width="250" src="https://www.stickpng.com/assets/images/59cfc40ed3b1936210a5ddc4.png"/> 
          </div>
          <div>
            <input type="image" (click)="jugar('Spock')" height="250" width="250" src="https://i.dlpng.com/static/png/6456883_thumb.png"/> 
          </div>
          <h2>La maquina está eligiendo...</h2>   
      </div>
    <div id="resultado"></div>	
    <div id=JugarNuevamente >
        <h3 (click)="volver()">Jugar </h3>
        <h3 (click)="instrucciones()"> instrucciones </h3>
    </div>
  </div>		
</body>


